# dependencies
node_modules
.env

# Hardhat
cache
artifacts

# TypeScript
dist
build

# IDE
.vscode
.idea

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage
coverage.json

# Hardhat files
typechain
typechain-types

# Lock files
package-lock.json
yarn.lock

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
